        /* Estilo general para el cuerpo de la página */
        body {
            background-color: #f4f4f9;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            flex-direction: column;
        }

        header {
            background-color: #003366;
            color: white;
            padding: 1rem;
            width: 100%;
            text-align: center;
            position: fixed;
            top: 0;
            left: 0;
        }

        .container {
            margin-top: 80px; /* Evita que el header cubra el formulario */
            width: 100%;
            max-width: 400px;
            padding: 20px;
            background: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            text-align: center;
        }

        h1, h2 {
            text-align: center;
        }

        h2 {
            color: #003366;
        }

        input, button {
            width: 95%;
            padding: 10px;
            margin-top: 10px;
            border: 1px solid #cbd6e2;
            border-radius: 12px;
            font-size: 16px;
        }

        input{
            background-color: #f5f8fa;
        }

        button {
            color: white;
            border: none;
            cursor: pointer;
        }

        .btn-login { background-color: #007bff; }
        .btn-login:hover { background-color: #0056b3; }

        .btn-pay { background-color: #28a745; }
        .btn-pay:hover { background-color: #218838; }

        .btn-undo { background-color: red; }
        .btn-undo:hover { background-color: darkred; }

        .btn-exit { background-color: #6c757d; }
        .btn-exit:hover { background-color: #5a6268; }

        .btn-down { background-color: #0dcaf0; }
        .btn-down:hover { background-color: #5bc0de; }

        .hidden {
            display: none;
        }

        #error-message {
            background-color: #ffe0e0;
            border: 1px solid #cc0000;
            color: #660000;
            display: none;
            font-size: 16px;
            margin-top: 10px;
            padding: 10px;
        }
